@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #c0ccdf;
  /* color: #fff; */
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --white:#fff;
  --blue: #006AFF;
  --black:#000;
  --grey:grey;
}
a{
  text-decoration: none;
}



